<?xml version="1.0"?>
<config xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:noNamespaceSchemaLocation="urn:magento:module:Magento_Store:etc/config.xsd">
    <default>
        <bug>
            <bug>
                <enabled>1</enabled>
            </bug>
            <email>
                <recipient_email>
                    <![CDATA[report@klloom.com]]>
                </recipient_email>
                <sender_email_identity>custom2</sender_email_identity>
                <email_template>bug_email_email_template</email_template>
            </email>
        </bug>
    </default>
</config>
