<?xml version="1.0"?>
<config xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:noNamespaceSchemaLocation="urn:magento:framework:ObjectManager/etc/config.xsd">
    <preference for="Klloom\AbuseReport\Model\MailInterface" type="Klloom\AbuseReport\Model\Mail" />
    <preference for="Klloom\AbuseReport\Model\ConfigInterface" type="Klloom\AbuseReport\Model\Config" />
    <type name="Magento\Config\Model\Config\TypePool">
        <arguments>
            <argument name="sensitive" xsi:type="array">
                <item name="abuse/email/abuse_email_template" xsi:type="string">1</item>
            </argument>
        </arguments>
    </type>
</config>
