<div class="customcomponent-wrapper" data-block="customcomponent">

    <div class="comment-form" id="comment-form">
        <div class="field">
            <div class="control" style="float: left;width: calc(100% - 144px);display: inline;margin: 0;min-height: 32px;padding-bottom: 20px;">
                <input placeholder="You need to be logged in to have you say." type="text" style="border: solid 1px #b1b1b1; color: #b1b1b1;height: 34px;background: transparent;opacity: 1;" disabled>
            </div>
        </div>

        <div class="actions-toolbar comment-form-actions" style="float: right;">
            <div class="primary actions-primary" style="width: 100%">
                <a data-bind="attr:{href:login_url()}" class="klloom-button-no-logged-in" style="opacity: 1;background: transparent;border: solid 1px #b1b1b1 !important;color: #b1b1b1 !important;" disabled><span data-bind="text:'log in to comment'"></span></a>
            </div>
        </div>
    </div>


    <div class="klloom-hr" data-bind="visible:isVisible"></div>


    <table id="comments-list" style="margin-top: 28px">
        <tbody data-bind="foreach: getComments()">
        <tr>
            <td style="width: 38px; vertical-align: top">
                <i class="material-icons mdl-list__item-avatar photographer-avatar" data-bind="style: { backgroundImage: 'url(' + avatar + ')' }"></i>
            </td>
            <td class="info-column">
                <a data-bind="text:username, attr:{href:profile}" class="comment-customer-name"></a>
                <span class="comment-date" data-bind="text: created"></span>
                <p class="comment-comment" data-bind="html: comment"></p>
            </td>
            <td class="actions-column">
                <div data-bind="if: canRemove">
                    <a data-bind="click:$parent.removeComment, attr:{href: canRemove}"><i class="material-icons">close</i></a>
                </div>
            </td>
        </tr>
        </tbody>
    </table>

</div>